In [1]:
import pandas as pd
import sys
import os 

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))
from yfinance import *
from nsepython import *

In [2]:
df = pd.read_csv('../data/symbols/symbol_data.csv')
df.rename(columns={'SYMBOL': 'symbol', 'NAME OF COMPANY': 'company_name', 'basicIndustry': 'basic_industry'}, inplace=True)
df.head()

,Unnamed: 0.1,Unnamed: 0,symbol,company_name,macro,sector,industry,basic_industry
0,126,126,APOLLO,Apollo Micro Systems Limited,Industrials,Capital Goods,Aerospace & Defense,Aerospace & Defense
1,171,171,ASTRAMICRO,Astra Microwave Products Limited,Industrials,Capital Goods,Aerospace & Defense,Aerospace & Defense
2,192,192,AVANTEL,Avantel Limited,Industrials,Capital Goods,Aerospace & Defense,Aerospace & Defense
3,251,251,BDL,Bharat Dynamics Limited,Industrials,Capital Goods,Aerospace & Defense,Aerospace & Defense
4,255,255,BEL,Bharat Electronics Limited,Industrials,Capital Goods,Aerospace & Defense,Aerospace & Defense