In [18]:
import pandas as pd 

df = pd.read_csv('../data/symbol_data.csv')
df.rename(columns={'SYMBOL': 'symbol', 'NAME OF COMPANY': 'company_name', 'basicIndustry': 'basic_industry'}, inplace=True)
df.head()

,Unnamed: 0,symbol,company_name,macro,sector,industry,basic_industry
0,0,20MICRONS,20 Microns Limited,Commodities,Metals & Mining,Minerals & Mining,Industrial Minerals
1,1,21STCENMGM,21st Century Management Services Limited,Financial Services,Financial Services,Capital Markets,Other Capital Market related Services
2,2,360ONE,360 ONE WAM LIMITED,Financial Services,Financial Services,Capital Markets,Stockbroking & Allied
3,3,3IINFOLTD,3i Infotech Limited,Information Technology,Information Technology,IT - Software,Computers - Software & Consulting
4,4,3MINDIA,3M India Limited,Diversified,Diversified,Diversified,Diversified

In [19]:
df.sort_values(by=['industry', 'basic_industry'], inplace=True)
df.head()
print(df.shape)
# df.to_csv('test_sorted.csv')

(2066, 7)